.web {
  min-width: 1200px;
  min-height: 100%;
  overflow: hidden;
  background: no-repeat center/cover fixed; }
  .web .header {
    height: 80px;
    background-color: #25A5F7;
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; }
    .web .header .logo {
      height: 70%; }
      .web .header .logo img {
        height: 100%; }
    .web .header .menu {
      width: 800px;
      height: 100%;
      display: flex;
      justify-content: space-between;
      color: #fff;
      font-size: 20px;
      text-align: center; }
      .web .header .menu > li {
        width: 25%;
        line-height: 80px;
        position: relative; }
        .web .header .menu > li span {
          display: block;
          cursor: pointer;
          position: relative;
          z-index: 1; }
        .web .header .menu > li i {
          position: absolute;
          left: 0;
          bottom: 1px;
          width: 100%;
          height: 3px;
          background-color: #fff;
          transition: 0.3s ease-out; }
        .web .header .menu > li:hover .menu-link {
          height: 150px; }
        .web .header .menu > li .menu-link {
          height: 0;
          overflow: hidden;
          position: absolute;
          left: 0;
          top: 100%;
          z-index: 1;
          width: 100%;
          background-color: #25A5F7;
          transition: 0.3s ease-out;
          font-size: 16px; }
          .web .header .menu > li .menu-link li {
            line-height: 50px;
            background-color: #25A5F7;
            transition: 0.3s; }
            .web .header .menu > li .menu-link li:hover, .web .header .menu > li .menu-link li.active {
              filter: brightness(0.9); }
            .web .header .menu > li .menu-link li a {
              display: block; }
    .web .header .web-skin {
      position: relative; }
      .web .header .web-skin .skin-icon {
        display: block;
        font-size: 40px;
        color: #eee;
        cursor: pointer;
        transition: 0.2s; }
        .web .header .web-skin .skin-icon:hover {
          color: #25A5F7; }
      .web .header .web-skin ul {
        display: flex;
        background: #fff;
        text-align: center;
        transform: translateX(-50%);
        position: absolute;
        top: 100%;
        left: 50%;
        z-index: 2; }
        .web .header .web-skin ul li {
          margin: 10px;
          width: 60px; }
          .web .header .web-skin ul li:nth-child(1) i {
            background-color: #f00; }
          .web .header .web-skin ul li:nth-child(1) span {
            color: #f00; }
          .web .header .web-skin ul li:nth-child(2) i {
            background-color: #fc0; }
          .web .header .web-skin ul li:nth-child(2) span {
            color: #fc0; }
          .web .header .web-skin ul li:nth-child(3) i {
            background-color: #fe0; }
          .web .header .web-skin ul li:nth-child(3) span {
            color: #fe0; }
          .web .header .web-skin ul li:nth-child(4) i {
            background-color: #0e0; }
          .web .header .web-skin ul li:nth-child(4) span {
            color: #0e0; }
          .web .header .web-skin ul li:nth-child(5) i {
            background-color: #0cc; }
          .web .header .web-skin ul li:nth-child(5) span {
            color: #0cc; }
          .web .header .web-skin ul li:nth-child(6) i {
            background-color: #08f; }
          .web .header .web-skin ul li:nth-child(6) span {
            color: #08f; }
          .web .header .web-skin ul li:nth-child(7) i {
            background-color: #80f; }
          .web .header .web-skin ul li:nth-child(7) span {
            color: #80f; }
          .web .header .web-skin ul li:nth-child(8) i {
            background-color: #f08; }
          .web .header .web-skin ul li:nth-child(8) span {
            color: #f08; }
          .web .header .web-skin ul li i {
            display: inline-block;
            width: 40px;
            height: 40px;
            transition: 0.2s; }
            .web .header .web-skin ul li i:hover {
              border-radius: 50%; }
    .web .header .search {
      width: 100px;
      height: 40px;
      font-size: 20px;
      border: 2px solid #25A5F7;
      padding: 5px;
      border-radius: 20px;
      transition: 0.3s; }
      .web .header .search:focus {
        width: 400px; }
  .web .aside {
    width: 180px;
    font-size: 18px;
    position: absolute;
    top: 110px;
    left: 50px; }
    .web .aside.fixed {
      position: fixed;
      top: 10px; }
    .web .aside .menu {
      margin-top: 2px; }
      .web .aside .menu span {
        display: block;
        line-height: 40px;
        padding: 0 10px;
        border-radius: 3px;
        background-color: #eef3f6;
        transition: 0.2s;
        cursor: pointer; }
        .web .aside .menu span:hover, .web .aside .menu span.active {
          color: #fff;
          background-color: #25A5F7; }
        .web .aside .menu span i {
          float: right; }
      .web .aside .menu ul {
        display: none;
        font-size: 16px;
        border-radius: 3px;
        background-color: #eee;
        overflow: hidden; }
        .web .aside .menu ul.active {
          display: block; }
        .web .aside .menu ul li {
          position: relative;
          line-height: 35px;
          padding-left: 20px;
          cursor: pointer;
          transition: 0.2s; }
          .web .aside .menu ul li:hover, .web .aside .menu ul li.active {
            color: #25A5F7; }
  .web .article {
    padding: 0 50px 0 260px;
    background-color: #fff; }
    .web .article .title {
      font-size: 24px;
      margin-bottom: 10px;
      padding-top: 10px;
      cursor: pointer; }
      .web .article .title:not(:first-child) {
        margin-top: 20px; }
    .web .article h2 {
      font-size: 18px;
      color: #25A5F7;
      margin-top: 10px; }
    .web .article p {
      text-indent: 2em;
      line-height: 30px; }
    .web .article .edit-time {
      text-align: right;
      margin: 40px 0 20px; }
      .web .article .edit-time time {
        color: #25A5F7;
        font-style: italic; }
  .web .back-top {
    display: none;
    position: fixed;
    right: 50px;
    bottom: 66px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 30px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid #ccc;
    transition: 0.2s;
    cursor: pointer; }
    .web .back-top:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  .web .change-section {
    position: fixed;
    bottom: 20px;
    text-align: center;
    line-height: 30px;
    padding: 0 10px;
    color: #25A5F7;
    border: 1px solid #25A5F7;
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s; }
    .web .change-section.section-pre {
      right: 51%; }
    .web .change-section.section-next {
      left: 51%; }
    .web .change-section:hover {
      color: #fff;
      background-color: #25A5F7; }
    .web .change-section i {
      display: none; }
    .web .change-section.active i {
      display: initial; }

.w1000 {
  width: 1000px; }

.w900 {
  width: 900px; }

.w800 {
  width: 800px; }

.w700 {
  width: 700px; }

.w600 {
  width: 600px; }

.w500 {
  width: 500px; }

.w400 {
  width: 400px; }

.w300 {
  width: 300px; }

.w200 {
  width: 200px; }

.w100 {
  width: 100px; }

/*# sourceMappingURL=common.css.map */
