@charset "utf-8";
$ti-slow:1s;
$ti-four:0.4s;
$ti-fast:0.2s;
$weex: #00B4FA;
$vue: #42b983;
$hui: #eee;
$blue: #08f;
$skin: #f00 #f80 #fe0 #0e0 #0cc #08f #80f #f08;

[v-cloak] {
    display: none;
}
.web {
    min-height: 100%;
    padding-top: 40px;
    overflow: hidden;
    background: no-repeat center/cover fixed;
}

header {
    width: 100%;
    text-align: center;
    color: #fff;
    background-color: $weex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    i.iconfont {
        font-size: 20px;
    }
    .menu li:hover, .menu li.active, .set:hover, .set li:hover, .back-top:hover {
        background-color: $blue;
    }
    .menu>li, .set {
        cursor: pointer;
        position: relative;
        &:hover ul {
            height: auto;
            opacity: 1;
        }
        ul {
            width: 100%;
            height: 0;
            opacity: 0;
            overflow: hidden;
            background-color: $weex;
            border-radius: 0 0 5px 5px;
            transition: $ti-fast ease-out;
            position: absolute;
            top: 100%;
            left: 0;
            li {
                line-height: 40px;
                transition: $ti-fast ease-out;
            }
        }
    }
    .menu {
        display: flex;
        img {
            height: 40px;
            vertical-align: top;
        }
        &>li {
            width: 100px;
            line-height: 40px;
            transition: $ti-fast ease-out;
        }
    }
    .option {
        display: flex;
        .search {
            display: flex;
            align-items: center;
            i {
                color: #ccc;
                transform:translateX(-195px);
            }
            input {
                width: 200px;
                height: 28px;
                padding: 0 10px 0 30px;
                border-radius: 15px;
            }
        }
        .set, .back-top {
            width: 60px;
            line-height: 40px;
        }
        .back-top {
            display: block;
            transition: $ti-fast ease-out;
            cursor: pointer;
        }
    }
}

section {
    width: 600px;
    margin: 0 auto;
    padding: 20px 0 40px;
    h1 {
        font-size: 24px;
        font-weight: bold;
        text-align: center;
    }
    h2 {
        font-size: 20px;
        font-weight: bold;
        margin: 20px 0 5px;
    }
    li li {
        line-height: 30px;
        color: $weex;
        cursor: pointer;
        &:hover {
            color: $blue;
        }
    }
}

aside {
    width: 200px;
    height: 100%;
    padding: 20px;
    position: fixed;
    top: 40px;
    left: 0;
    &.active {
        border-right: 1px solid #ccc;
    }
    li {
        line-height: 30px;
        padding: 0 20px;
        cursor: pointer;
        border-radius: 5px;
        transition: $ti-fast ease-out;
        &:hover, &.active {
            color: #fff;
            background-color: $weex;
        }
    }
}

article {
    padding: 10px 40px 0 240px;
    text-align: justify;
    a, a:hover {
        color: #08f;
    }
    a:hover {
        text-decoration: underline;
    }
    h1 {
        font-size: 24px;
        font-weight: bold;
        padding: 15px 0;
        border-bottom: 1px solid #ccc;
        margin-bottom: 15px;
        cursor: pointer;
        transition: $ti-fast;
        &:not(:first-child) {
            margin-top: 20px;
        }
        &:hover {
            color: $weex;
        }
    }
    h2 {
        font-size: 20px;
        margin: 10px 0;
        font-weight: bold;
        &:not(:first-child) {
            margin-top: 20px;
        }
    }
    p {
        text-indent: 2em;
        line-height: 30px;
    }
    b {
        font-weight: bold;
    }
    img {
        width: 90%;
        margin: 5px 0 5px 2em;
    }
    ul {
        width: 800px;
        margin: 5px 0 10px 2em;
        padding: 10px 20px;
        border-left: 10px solid #f80;
        border-radius: 10px;
        background-color: rgba(#f80, 0.1);
        li {
            line-height: 30px;
            &::before {
                content: '●';
                color: #f80;
                margin-right: 10px;
            }
        }
    }
    table {
        border-radius: 5px;
        margin: 20px 0 20px 2em;
        border: 1px solid #ccc;
        overflow: hidden;
        text-align: center;
        thead {
            color: #fff;
            background-color: #25A5F7;
        }
        tr {
            height: 40px;
            &:nth-child(2n) {
                background-color: #eee;
            }
            th:not(:last-child),
            td:not(:last-child) {
                border-right: 1px solid #ccc;
            }
        }
        th {
            padding: 0 20px;
        }
        td {
            border-top: 1px solid #ccc;
            &.td-left {
                text-align: left;
                padding-left: 20px;
            }
        }
    }
    time {
        display: block;
        text-align: right;
        color: #666;
        margin: 40px 0;
    }
    code {
        color: #f80;
        margin: 0 3px;
        padding: 3px 5px;
        border-radius: 3px;
        background-color: #f5f5f5;
        border: 1px solid #eee;
        font-family: consolas;
    }
    span {
        font-family: inherit;
    }
    pre {
        width: 800px;
        line-height: 24px;
        border-radius: 8px;
        border: 1px solid #ccc;
        background-color: #fafafa;
        position: relative;
        overflow: hidden;
        margin-left: 2em;
        code {
            color: #333;
            border: none;
            background-color: inherit;
        }
        .copy {
            padding: 3px 10px;
            background-color: #fff;
            box-shadow: 0 0 0 1px #ccc;
            border-bottom-left-radius: 8px;
            cursor: pointer;
            transition: 0.2s;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
    .code {
        width: 800px;
        position: relative;
    }
    .copy-success {
        position: absolute;
        top: 5px;
        right: -120px;
        color: #0c0;
        opacity: 0;
    }
    .copy-success i {
        font-size: 18px;
        margin-right: 5px;
        vertical-align: -1px;
    }
    .copy-success-active {
        animation: copy 1s;
    }
    @keyframes copy {
        80% {
            opacity: 1;
            transform: translateY(-30px);
        }
        100% {
            opacity: 0;
            transform: translateY(-30px);
        }
    }
    #copy-textarea {
        position: fixed;
        right: 200%;
        opacity: 0;
    }
    pre .copy:hover {
        background-color: #f5f5f5;
    }
    pre .copy:active {
        color: #25A5F7;
    }
    .code-keyword-out {
        color: #f08;
    }
    .code-keyword-in {
        color: #08f;
    }
    .code-string {
        color: #0c0;
    }
    .code-comment {
        color: #aaa;
    }
    .code-reg {
        color: #f80;
    }
}