@charset "utf-8";
@import "config";

.web{
    padding: 20px;
    img{
        width: 100%;
    }
    .header{
        .logo{
            float: left;
            width: 200px;
        }
        .search{
            float: right;
        }
    }
    .nav{
        background-color: #ccc;
        font-size: 24px;
        text-align: center;
        margin: 20px 0;
        ul{
            display: flex;
            justify-content: space-around;
            li{
                line-height: 50px;
                a{
                    display: block;
                    color: #000;
                    position: relative;
                    z-index: 1;
                    transition: $tri-nav;
                }
                &.active a{
                    color: #fff;
                }
                .nav-active{
                    display: block;
                    height: 100%;
                    color: #fff;
                    background-color: #f08;
                    position: relative;
                    top: -100%;
                    transition: $tri-nav;
                }
            }
        }
    }
}
