<!DOCTYPE html>
<html>
	<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>前端笔记</title>
		<link rel="shortcut icon" href="favicon.png" />
		<link rel="stylesheet" type="text/css" href="//at.alicdn.com/t/font_390347_bm5xnqeii4u.css" />
		<link rel="stylesheet" type="text/css" href="css/reset.css" />
		<link rel="stylesheet" type="text/css" href="css/common.css" />
	</head>

	<body>
		<div class="web">
			<!-- 头部 start -->
			<header>
                <!-- aside 收缩菜单触发按钮 -->
                <div :class="['icon-toggle', asideToggle ? 'active' : '']" @click="asideToggle = !asideToggle">
                    <span class="icon-top"></span>
                    <span class="icon-middle"></span>
                    <span class="icon-bottom"></span>
                </div>

				<!-- 左边的目录 -->
				<ul class="menu">
					<!-- 一级目录 -->
					<li @click="directory" :class="index ? 'active' : ''"><img src="img/logo.jpg"/></li>
					<li v-for="(parentValue, parentKey) in commonData" :class="menuParent === parentKey ? 'active' : ''">
						<span v-cloak>{{parentValue.name || parentKey}}</span>
						<ul>
							<!-- 二级目录，name 作为中文表示所以不显示 -->
							<li
								v-for="(childValue, childKey) in parentValue"
								v-if="childKey !== 'name'"
								:class="menuChild === childKey ? 'active' : ''"
								@click="changePage(parentKey, childKey)"
							>{{childValue.name || childKey}}</li>
						</ul>
					</li>
                </ul>

				<!-- 右边的菜单 -->
				<div :class="['option', optionToggle?'active':'']">
					<!-- 设置 -->
					<div class="set hover">
						<i class="iconfont icon-shezhi"></i>
						<ul>
							<li class="skin hover">
								<i class="iconfont icon-skin"></i>
							</li>
							<li class="skin hover">
								<i class="iconfont icon-skin-fill"></i>
							</li>
						</ul>
                    </div>
                    <!-- 搜索框 -->
					<div class="search">
                        <i :class="['iconfont icon-search',isSearch?'active':'']" @click="isSearch=!isSearch"></i>
                        <transition enter-class="active" leave-to-class="active">
                            <input type="text" placeholder="搜索建设中" v-if="isSearch"/>
                        </transition>
                    </div>
					<!-- github -->
					<a class="git" href="https://github.com/yang498/note" target="_blank">
						<i class="iconfont icon-git"></i>
					</a>
					<!-- 回到顶部/底部 -->
					<i class="iconfont icon-arrowhead-bottom back-top" onclick="scrollToTop(document.body.scrollHeight)"></i>
					<i class="iconfont icon-arrowhead-top back-top" onclick="scrollToTop(0)"></i>
                </div>
                
                <!-- 右边的菜单收缩触发按钮 -->
                <div :class="['icon-toggle', optionToggle ? 'active' : '']" @click="optionToggle = !optionToggle">
                    <span class="icon-top"></span>
                    <span class="icon-middle"></span>
                    <span class="icon-bottom"></span>
                </div>
			</header>
			<!-- 头部 end -->

			<!-- 首页/目录索引页 start -->
			<section v-if="index">
				<div v-for="(parentValue, parentKey) in commonData">
					<b v-cloak>{{parentValue.name || parentKey}}</b>
					<ul>
						<li
							v-for="(childValue, childKey) in parentValue"
							v-if="childKey !== 'name'"
							:class="childValue.underway?'underway':childValue.complete?'complete':''"
							@click="changePage(parentKey, childKey)"
							v-cloak
						>{{childValue.name || childKey}}</li>
					</ul>
				</div>
			</section>
			<!-- 首页/目录索引页 end -->

			<!-- 文档左边目录 -->
			<aside v-if="!index" :class="asideToggle?'active':''">
				<ul class="h1">
					<li v-for="(item, index) of asideH1"
						:class="index === asideActive ? 'active' : ''"
						@click="onAsideH1(index)"
					v-cloak>{{item}}</li>
				</ul>
				<ul class="h2">
					<li v-for="(item, index) of asideH2[asideActive]"
						:class="index === asideActive2 ? 'active' : ''"
						@click="onAsideH2(index)"
					v-cloak>{{item}}</li>
				</ul>
            </aside>
            
            <!-- aside 移动设备收缩菜单 -->
            <div class="aside"></div>

			<!-- 文档内容 -->
			<article v-if="!index" v-html="article"></article>
		</div>

		<script src="js/jquery-3.2.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue-2.5.16.js" type="text/javascript" charset="utf-8"></script>
		<script src="data/common-data.js" type="text/javascript" charset="utf-8" id="import"></script>
		<script src="js/regexp.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/format-html.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/common.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>