@media screen and (max-width: 1139px) {
    header {
        .handle {
            position: absolute;
            top: 40px;
            right: 0;
            flex-direction: column-reverse;
            border-bottom-left-radius: 10px;
            transform: translateX(100%);
            &.active {
                transform: translateX(0);
            }
        }
        .handle-toggle {
            display: flex;
        }
    }
}
@media screen and (max-width: 959px) {
    html {
        font-size: 14px;
        header {
            .menu > li:not(:first-child) {
                display: none;
            }
            .aside-toggle {
                display: flex;
            }
        }
        aside {
            position: absolute;
            top: 40px;
            transform: translateX(-100%);
            &.active {
                transform: translateX(0);
            }
        }
        article {
            padding: 0 20px;
            .iframe {
                padding-left: 0;
                padding-right: 0;
            }
            ul {
                margin-left: 0;
                margin-right: 0;
            }
            .code {
                padding: 0;
                .copy {
                    right: 0;
                }
            }
        }
    }
}