.skin.red { --c: #CF4647; }
.skin.orange { --c: #E48632; }
.skin.yellow { --c: #FBDE34; }
.skin.green { --c: #42B983; }
.skin.blue { --c: #00B4FF; }
.skin.purple { --c: #7952B3; }
.skin.pink { --c: #CC6699; }

header {
    &, .menu ul, .handle { background-color: var(--c); }
    li:hover > div, li.active > div, .handle > *:hover, .icon-menu:hover { background-color: rgba(#000, 0.2); }
}
.section li li.li2 {
    color: var(--c);
    border-color: var(--c);
    &:hover { color: #fff; background-color: var(--c); }
    &.underway { border-color: #f80; }
    &.complete { border-color: #42B983; }
}
aside {
    .h2 li:hover, .h2 li.active { color: #fff; background-color: var(--c); }
    .h3 li:hover, .h3 li.active { color: var(--c); background-color: #f5f5f5; }
}
article {
    a, a:hover { color: #08f; }
    h2:hover, h3:hover { color: var(--c); }
}